﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Ticaret Sitesi - @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
    <body>
        <div class="float-right">
            <ul id="menu">
                <li>@Html.ActionLink("Sepetim", "ShoppingCart", "Home")</li>
            </ul>
        </div>
        <div class="container body-content">
            <div id="leftMenu">
                <span style="font-size:20px;font-weight: bold">Menü</span>
                <ul>
                    <li>@Html.ActionLink("Elektronik", "ListProduct","Home")</li>
                    <li>@Html.ActionLink("Ev Eşyaları", "Index", "Home")</li>
                    <li>@Html.ActionLink("Spor Malzemeleri", "Index", "Home")</li>
                </ul>
            </div>
            <div>
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
            <footer>
                <hr />
                <p>@DateTime.Now.Year - Retport</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
